{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"
            integrity="sha256-6sZs7OGP0Uzcl7UDsLaNsy1K0KTZx1+6yEVrRJMn2IM=" crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block main_content %}

    <div class="flex items-center justify-center  bg-base-200">
        <div class="card w-full bg-white shadow-xl p-6 mt-2 mx-48">
            <h3 class="text-2xl font-semibold text-center text-gray-700 mb-4">Create Course</h3>
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form|crispy }}
                {% endfor %}
                <div class="form-control mt-4">
                    <button type="submit" class="btn btn-primary w-full">
                        {% if course %}
                            Update Course
                        {% else %}
                            Create Course
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        var simplemde_description = new SimpleMDE({element: document.getElementById("id_course_description")});

    </script>


{% endblock main_content %}
