{% load static tailwind_cli %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add these to the head tag of your HTML -->


    <title>
        {% block head_title %}LMS{% endblock head_title %}
    </title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock extra_head %}
    {% tailwind_css %}
    {% htmx_script %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="min-h-screen">

{% include 'includes/header.html' %}


{% if messages %}
    <div class="fixed top-24 right-12 max-w-xs w-full z-100">
        {% for message in messages %}
            <div role="alert" class="alert alert-info">
                <span>{{ message | safe }}</span>
            </div>
        {% endfor %}
    </div>
{% endif %}

<main class="">
    {% block main_content %}{% endblock main_content %}
</main>

{% include 'includes/footer.html' %}

{% block extra_js %}
{% endblock extra_js %}

</body>
</html>
